.blogmainbody{
    width: calc(100vw - 60px);
    margin-left: 60px;
    /* padding: 20px; */


    /* blog card design */

    .blogcardbody{
        width: calc(100% / 5);  
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* padding: 20px; */

        .topsection{
                width: 100%;
                position: relative;
                height: 150px;

            .blogcardimage{
                width: 100%;
                height: 100%;
            }
            .tagbtn{
                position: absolute;
                top: 10px;
                left: 10px;
                border: none;
                outline: none;
                background: var(--white-color);
                padding: 8px 15px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                cursor: pointer;
            }
            .tagbtn:active{
                background: var(--green-color);
            }
        }
        .middlesection{
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: relative;

            .middle1{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .datesection{
                    font-weight: 900;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: var(--charcoal-color);
                    font-size: 10px;
                }
                .likesharesection{
                    display: flex;
                    gap: 10px;
                }
                .likesharesection > button{
                    border: none;
                    outline: none;
                    background: none;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            .middle2title{
                text-align: left;
                text-transform: capitalize;
                font-weight: 900;
                letter-spacing: 2px;
                font-size: 14px;
            }
            .middle3description{
                text-align: justify;
                font-size: 12px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                -moz-line-clamp: 3;
                -moz-box-orient: vertical;
                color: var(--gray-color);
            }
        }
        .middlesection::after{
            position: absolute;
            content: " ";
            width: 100%;
            left: 0;
            bottom: -10px;
            background: var(--gray-color);
            height: 1px;
        }

        .bottomsection{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .socialicon{
                display: flex;
                gap: 10px;
                align-items: center;

                .iconbtn{
                    border: none;
                    outline: none;
                    background: none;
                    cursor: pointer;
                    font-size: 16px;
                    color: var(--gray-color);
                }
                .iconbtn:hover{
                    color: var(--black-color);
                }
                .iconbtn:active{
                    color: var(--green-color);
                }
            }

            .readmore{
                color: var(--gray-color);
                font-weight: 500;
                letter-spacing: 2px;
                font-size: 15px;
                position: relative;
            }
            .readmore:hover{
                color: var(--black-color);
            }
            .readmore:hover::after{
                content: " ";
                background: #000;
                width: 100%;
                bottom: -1px;
                left: 0;
                position: absolute;
                height: 1px;
                transition: all 2s ease;
            }
            .readmore:active{
                color: var(--green-color);
            }
        }
    }
}