.blogmainbody{
    width: calc(100vw - 60px);
    margin-left: 60px;
    padding: 20px;


    /* blog card design */

    .blogcardbody{
        width: calc(100% / 5);  
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* padding: 20px; */

        .topsection{
                width: 100%;
                position: relative;
                height: 150px;

            .blogcardimage{
                width: 100%;
                height: 100%;
            }
            .tagbtn{
                position: absolute;
                top: 10px;
                left: 10px;
                border: none;
                outline: none;
                background: var(--white-color);
                padding: 8px 15px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                cursor: pointer;
            }
            .tagbtn:active{
                background: var(--green-color);
            }
        }
        .middlesection{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .middle1{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .datesection{
                    font-weight: 900;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: var(--charcoal-color);
                    font-size: 10px;
                }
                .likesharesection{
                    display: flex;
                    gap: 10px;
                }
                .likesharesection > button{
                    border: none;
                    outline: none;
                    background: none;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}