.digitalartmainbody {
  width: calc(100vw - 60px);
  margin-left: 60px;

  /* main image body  */
  .imagebody {
    display: block;
    cursor: pointer;
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
    }
  }
  .imagebody::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 0;
  }
  .imagebody:hover::after {
    height: 100%;
    transition: all 0.2s ease;
  }
  .imagebody .hovertext {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    display: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
 .imagebody:hover .hovertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 9;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  /* image display div design */
.imagedisplaydiv {
  width: calc(100vw - 60px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  /* padding: 0 40px; */

  .leftside, .rightside{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
      border: none;
      outline: none;
      background: none;
      color: var(--white-color);
      padding: 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon{
        width: 40px;
        height: 40px;
      }
    }

    .btn:hover{
      background: var(--white-color);
      color: var(--black-color);
    }
    .btn:active{
      background: var(--green-color);
      color: var(--black-color);
    }
  }
  .leftside:hover{
    background: rgba(53, 53, 53, 0.9);
  }
  .rightside:hover{
    background: rgba(53, 53, 53, 0.9);
  }
  .leftside:active{
    background: var(--charcoal-color);
  }
  .rightside:active{
    background: var(--charcoal-color);
  }
  
  .rightside{
    .closebtn{
      position: fixed;
      top: 30px;
      right: 10px;
      padding: 10px;
      border-radius: 10px;
      border: none;
      background: none;
      color: var(--white-color);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .icon{
        width: 40px;
        height: 40px;
      }
    }
    .closebtn:hover{
      background: var(--white-color);
      color: var(--black-color);
    }
    .closebtn:active{
      background: var(--green-color);
      color: var(--black-color);
    }
  }


  .image {
    width: auto;
    max-width: 90%;
    min-width: 20%;
    height: auto;
    max-height: 90%;
    position: relative;
    min-height: 20%;
  }

  .imageauthor {
    position: absolute;
    left: 0;
    bottom: 240px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    transform: rotate(-90deg);
  }
}
}


@media screen and (min-width: 1200px) {
  .photographymainbody {
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .photographymainbody {
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .photographymainbody {
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .photographymainbody {
    width: calc(100vw - 60px);
    margin-left: 60px;
  }
}

@media screen and (max-width: 600px) {
  .photographymainbody {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .photographymainbody {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 60px;
  }
}
