.mainbody {
  width: calc(100vw - 60px);
  height: 100%;
  margin-left: 60px;
  background: #fff;
  position: relative;
  font-family: inherit;
  overflow-x: hidden;
  padding: 0 50px;
}

/* project title header style design */
.title {
  width: 100%;
  padding-top: 100px;
  font-weight: 900;
  font-size: 4.2rem;
  text-transform: uppercase;
  text-align: center;
}

/* project subtile and creator style design */
.subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  font-weight: 900;
  font-size: 15px;
  color: #797979;
}
.creator {
  display: flex;
  /* font-weight: 900; */
  letter-spacing: 1px;
}
.creator p {
  margin-right: 5px;
}
.creator span {
  margin: 0 10px;
}
.creator a:hover {
  color: #000;
}
.createtype {
  display: flex;
}
.createtype a {
  margin: 0 5px;
}
.createtype a:hover {
  color: #000;
}

/* project paragraph styling */
.projectparagraph {
  color: #000;
  margin: 20px 0;
  font-size: 18px;
  color: #000;
  width: 100%;
  text-align: justify;
  font-family: inherit;
  word-break: break-all;
}

/* image section style desing */
.imagefile {
  margin: 10px auto;
  height: 600px;
  width: auto;
}

/* social links styles design */
/* .sociallink{
  display: flex;
  font-size: 25px;

  & .icons{
    margin-right: 15px;
    color: #797979;
  }
  & .icons:hover{
    color: #000;
  }
} */

/* image display div design */
.imagedisplaydiv {
  width: calc(100% + 50px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: -30px;
  z-index: 3;

  & .image {
    width: auto;
    max-width: 90%;
    /* min-width: 40%; */
    height: auto;
    max-height: 90%;
    /* min-height: 40%; */
  }
}

/* project next and back and social media icon design */
.nextbackmaindiv{
  margin: 5px 5px 5px 65px;
  border: 2px solid var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;

  .nextbacklink{
    display: flex;
    gap: 15px;
    align-items: center;

    .nextbackbutton{
      border: 1px solid transparent;
      background: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--gray-color);
    }
    .nextbackbutton:hover{
      color: var(--black-color);
    }
    .nextbackbutton:active{
      color: var(--green-color);
    }
  }

  .sociallink{
    display: flex;
    align-items: center;
    gap: 10px;

    .icons{
      cursor: pointer;
      .icon{
        width: 20px;
      height: 20px;
      color: var(--gray-color);
      }
      .icon:hover{
        color: var(--black-color);
      }
      .icon:active{
        color: var(--green-color);
      }
    }
  }
}

/* screen size styling */

@media screen and (max-width: 1440px) {
  .subtitle {
    flex-direction: column;
    & .createtype {
      flex-wrap: wrap;
      margin-top: 10px;
    }
    & .createtype a {
      margin: 0 5px 0 0;
    }
    & .createtype p {
      margin: 0 5px 0 0;
    }
  }
  .imagefile {
    height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .subtitle {
    flex-direction: column;
    & .createtype {
      flex-wrap: wrap;
      margin-top: 10px;
    }
    & .createtype a {
      margin: 0 5px 0 0;
    }
    & .createtype p {
      margin: 0 5px 0 0;
    }
  }
  .imagefile {
    height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .mainbody {
    width: calc(100% - 60px);
    margin-left: 60px;
    padding: 20px 30px 0 30px;
  }
  .closebtn {
    top: 25px;
  }
  .title {
    font-size: 3.2rem;
  }
  .subtitle {
    flex-direction: column;
    & .createtype {
      flex-wrap: wrap;
      margin-top: 10px;
    }
    & .createtype a {
      margin: 0 5px 0 0;
    }
    & .createtype p {
      margin: 0 5px 0 0;
    }
  }
  .projectparagraph {
    width: 100%;
  }
  .imagefile {
    height: 400px;
    width: 100%;
  }
  .orderbox {
    height: 170px;
    flex-direction: column;
    padding: 20px 30px;
  }
  .orderbox button {
    padding: 15px 100px;
  }
}

@media screen and (max-width: 600px) {
  .mainbody {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 100px 20px 0 20px;
    margin-left: 0;
    /* margin-top: 50px; */
    overflow-y: hidden;
  }
  .copybtn {
    top: 100px;
  }
  .closebtn {
    display: none;
  }
  .title {
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
    padding-top: 50px;
  }
  .subtitle {
    flex-direction: column;
    & .createtype {
      flex-wrap: wrap;
      margin-top: 10px;
    }
    & .createtype a {
      margin: 0 5px 0 0;
    }
    & .createtype p {
      margin: 0 5px 0 0;
    }
  }
  .imagefile {
    width: 100%;
    height: 250px;
    margin: 5px 0;
  }
  .orderbox {
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    height: 100px;
    padding: 10px 15px;
  }
  .orderbox p {
    font-size: 17px;
  }
  .orderbox button {
    padding: 5px 75px;
  }
}
