.cardcarouselmainbody {
  margin: 5px 5px 5px 65px;
  border: 2px solid var(--black-color);
  color: var(--black-color);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--roboto-font);

  .carouselheader {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 30px;
  }

  .carouselbody {
    .sliderbody {
      width: 100%;

      .cardbody {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        background: var(--offwhite-color);
        border: 2px solid var(--black-color);

        .imagesection {
          height: 200px;
          position: relative;

          .imagebody {
            height: 100%;

            .image {
              width: 100%;
              height: 100%;
            }

            .icon {
              width: 30px;
              height: 30px;
            }
          }

          .imagebody::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            height: 0;
          }
          .imagebody:hover::after {
            height: 100%;
            transition: all 0.2s ease;
          }
          .imagebody .hovertext {
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            padding: 20px;
            transform: translate(-50%, -50%);
            display: none;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
          .imagebody:hover .hovertext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            z-index: 9;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
          }
        }

        .descriptionsection {
          display: flex;
          flex-direction: column;
          padding: 20px 10px;
          gap: 20px;
          border-radius: 0 0 12px 12px;
          overflow-x: hidden;
          color: var(--black-color);

          .datetagsection {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date {
              text-transform: uppercase;
              letter-spacing: 2px;
              font-size: 14px;
              font-weight: 700;
            }

            .tag {
              text-transform: uppercase;
              letter-spacing: 2px;
              padding: 5px 15px;
              border: 1px solid transparent;
              background: var(--black-color);
              color: var(--offwhite-color);
              font-weight: 700;
              font-size: 14px;
            }
            .tag:active {
              background: var(--green-color);
              color: var(--black-color);
            }
          }

          .cardheader {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 17px;
            text-align: center;
          }

          .cardtext {
            text-align: justify;
            font-size: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            -moz-line-clamp: 3;
            -moz-box-orient: vertical;
          }

          .cardbar {
            width: 100%;
            height: 2px;
            content: " ";
            background: var(--charcoal-color);
          }

          .readmore {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: 1px solid var(--black-color);
            color: var(--black-color);
            padding: 10px 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 13px;
            font-weight: 700;
          }
          .readmore:hover {
            border: 1px solid transparent;
            background: var(--black-color);
            color: var(--offwhite-color);
          }
          .readmore:active {
            background: var(--green-color);
            border: 2px solid transparent;
            color: var(--black-color);
          }
        }
      }
    }
    .sliderbody:last-child {
      margin-right: -10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .cardcarouselmainbody {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .cardcarouselmainbody {
    width: 100%;
    margin-left: 0;
    padding: 10px 20px;

    .sliderbody {
      .cardbody {
        margin-right: 0;
      }
    }
    .sliderbody:last-child {
      margin-right: 0;
    }
  }
}
