.commentboxmainbody{
    width: calc(100vw - 70px);
    /* padding: 10px 40px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    border: 2px solid var(--black-color);
    margin: 5px 10px 5px 65px;

    .commentboxheader{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 20px;
    }

    .commentboxform{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .text{
            text-transform: lowercase;
            letter-spacing: 2px;
            font-size: 14px;
        }

        .massagesection{

            .textarea{
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                min-height: 100px;
                max-height: 100px;
                padding: 20px;
                letter-spacing: 2px;
                font-weight: 100;
                border: none;
                border-bottom: 2px solid var(--black-color);
                outline: none;
                color: var(--black-color);
            }
            .textarea::placeholder{
                color: var(--gray-color);
            }
        }

        .namesection{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 10px;
        }

        .inputfield{
            width: 100%;
            padding: 15px 20px;
            border: none;
            outline: none;
            letter-spacing: 2px;
                font-weight: 100;
                /* background: rgba(0, 0, 0, 0.7); */
                color: var(--black-color);
                border-bottom: 2px solid var(--black-color);
        }
        .inputfield::placeholder{
            color: var(--gray-color);
            letter-spacing: 1px;
            font-size: 12px;
            text-transform: capitalize;
        }

        .buttonsection{
            display: flex;
            align-items: center;
            justify-content: center;

            .submitbtn, .resetbtn{
                padding: 10px 40px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 4px;
                border: 2px solid var(--white-color);
                background: var(--black-color);
                color: var(--white-color);
                cursor: pointer;
                font-size: 16px;
                border-radius: 40px;
            }

            .submitbtn:hover{
                background: var(--white-color);
                color: var(--black-color);
                border: 2px solid var(--white-color);
            }
            .submitbtn:active{
                background: var(--green-color);
                color: var(--black-color);
                border: 2px solid var(--green-color);
            }

            .resetbtn{
                background-color: var(--yellow-color);
                border: 2px solid var(--yellow-color);
                color: var(--redorange-color);
            }
            .resetbtn:active{
                border: 2px solid var(--redorange-color);
                background-color: var(--redorange-color);
                color: var(--white-color);
            }
        }
    }
}