/* project reference copy button */
.copybtn {
    position: absolute;
    top: 25px;
    right: 40px;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #000;
    display: flex;
    gap: 10px;
    border: 2px solid transparent;
    padding: 10px 15px; 
  }  
  .copybtn:hover{
    border: 2px solid var(--black-color);
  }
  .copybtn:active{
    border: 2px solid var(--green-color);
    background-color: var(--green-color);
  }