.mainnavbody {
  width: 60px;
  height: 100vh;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  .sidenav {
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 60px 10px;
    /* position: relative; */
    /* background: var(--black-color); */

    .sidenavbtn{
      outline: none;
      border: none;
      background: none;
      color: var(--white-color);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      
      .sidenavbtnicon{
        font-size: 25px;
      }
    }
    /* .sidenavbtn:hover{
      background: var(--white-color);
      color: var(--black-color);
    } */
    /* .sidenavbtn:active{
      background: var(--green-color);
      color: var(--black-color);
    } */

    .mainlogo {
      /* position: absolute; */
      /* bottom: 60px; */
      /* left: -30px; */
      width: 120px;
      height: 40px;
      transform: rotate(-90deg);
    }
  }

  .navbody{
    position: absolute;
    left: 60px;
    top: 0;
    /* width: calc(100vw - 60px); */
    width: calc(60px + 350px);
    height: 100vh;
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;
    /* animation: navbaranimation all 4s linear; */

    .bottomsection{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      text-align: center;
    }

    .topsectionbtn{
      border: 1px solid var(--white-color);
      padding: 8px 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 30px;
      background: none;
      color: var(--white-color);
      width: 40%;
      cursor: pointer;
    }
    .topsectionbtn:hover{
      background: var(--white-color);
      color: var(--black-color);
    }
    .topsectionbtn:active{
      background: var(--green-color);
      color: var(--black-color);
      border: 1px solid var(--black-color);
    }

    .middlesection{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 23px;

      .navlist{
      border: 1px solid transparent;
      padding: 8px 40px;
      border-radius: 80px;
      }
      .navlist:hover{
        background: var(--white-color);
        color: var(--black-color);
      }
      .navlist:active{
        background: var(--green-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
  .leftside{
    .middlesection{
      .middle3{
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainnavbody{
    width: 60px;
    height: 100%;
    top: 0;
    left: 0;

    .sidenav{
      width: 100%;
      height: 100%;

      .mainlogo{
        object-fit: fill;
      }
    }
    
    .navbody{
      width: calc(100vw - 60px);
      height: 100%;
      left: 60px;

      .navlist{
      flex-direction: column-reverse;

        .leftside{
          width: 100%;
          height: 25%;
          padding: 20px 20px;
          gap: 10px;

          .topsection{
            display: none;
          }

          .middlesection{
            gap: 15px;

            .middle3{
              flex-wrap: wrap;
            }
          }
        }

        .rightside{
          width: 100%;
          height: 75%;
          align-items: center;
          padding: 60px 20px 20px 20px;

          .bottomsection{
            font-size: 10px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mainnavbody{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;

    .sidenav{
      width: 100%;
      height: 100%;
      flex-direction: row-reverse;
      padding: 10px 20px;

      .mainlogo{
        top: 5px;
        object-fit: fill;
        left: 10px;
        transform: rotate(0);
      }
    }

    .navbody{
      width: 100%;
      height: calc(100vh - 60px);
      top: 60px;
      left: 0;

      .navlist{
        flex-direction: column-reverse;

        .leftside{
          display: none;
        }

        .rightside{
          width: 100%;
          height: 100%;
          align-items: center;
          padding: 10px 20px;

          .bottomsection{
            font-size: 10px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .mainnavbody{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;

    .sidenav{
      width: 100%;
      height: 100%;
      flex-direction: row-reverse;
      padding: 10px 20px;

      .mainlogo{
        top: 5px;
        object-fit: fill;
        left: 10px;
        transform: rotate(0);
      }
    }

    .navbody{
      width: 100%;
      height: calc(100vh - 60px);
      top: 60px;
      left: 0;

      .navlist{
        flex-direction: column-reverse;

        .leftside{
          display: none;
        }

        .rightside{
          width: 100%;
          height: 100%;
          align-items: center;
          padding: 10px 20px;

          .bottomsection{
            font-size: 10px;
            font-weight: 500;
          }
        }
      }
    }
  }
}